/*Estilos para home*/
/*Main*/
.main {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 70vh;
    justify-content: space-between;
    padding: 0;
}
.main__img {
    width: 30vw;
    height: 100%;
    flex: 1;
    border-radius: 7px;
    margin-top: 20px;
}
.main__subtitulo {
    text-align: center;
}
.main__parrafo {
    text-align: center;
    width: 100%;
    height: 50vh;
    flex: 1;
}
/*Carousel Tecnologias*/
#carouselExample {
    padding: 0 30px;
}
/*Entrevistas y ubicación*/
.ubicacion__entrevista {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 0px 20px;
}

.ubicacion__entrevista--tamaño {
width: 100%;
height: 50%;
}

/*MQ*/
/*Tablet*/


