/*Estilos para home*/
/*Main*/
.main {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 70vh;
    justify-content: space-between;
    padding: 0;
}
main .main__img {
    width: 30vw;
    height: 100%;
    flex: 1;
    border-radius: 7px;
    margin-top: 20px;
}
main .main__subtitulo {
    text-align: center;
}
main .main__parrafo {
    text-align: justify;
    width: 100%;
    height: 50vh;
    flex: 1;
}
/*Carousel Tecnologias*/
.carousel-custom--img {
    width: 100%;
}
/*Entrevistas y ubicación*/
