/*MQ*/
@media screen and (max-width: 480px) {
/*General*/
    /*Header*/
    header {
        justify-content: space-between;
        height: 100px;
    }
    .logo {
        width: 100%;
    }
    body header h1 {
        display: none;
    }
    body header div nav .nav__list {
        display: none !important;
    }
    .nav__list--mobile {
        align-items: center;
        width: 90px;
        display: flex;
        gap: 20px;
        margin-left: 50px;
    }
    .nav__link--raya {
        text-decoration: none;
        color: #000;
    }
    /*Indice*/
    .myContainer__indice {
        height: 230px;
    }
    .indice__home {
        padding-bottom: 18px;
    }
/*Home*/
    .main {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: inherit;
        flex-direction: column;
        gap: 20px;
    }
    .main__aside {
        width: 100%;
        order: 2;
    }
    .main__subtitulo {
        font-weight: bold;
        margin-top: 10px;
        font-size: 2em;
    }
    .main__parrafo {
        margin-top: 20px;
        font-size: 1.3em;
        text-align:justify;
        padding: 0 30px;
        line-height: 1.7;
        height: 100%;
    }
    .parrafo__oculto {
        display: none;
    }
    .main__img {
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 10px;
        border-radius: 10%;
    }
    /*Tecnologias*/
    /*Ubicacion y testimonios*/
    .ubicacion__entrevista {
        grid-template-columns: 1fr;
    }
    .nav__item img {
        width: 100%;
        height: 100%;
    }
    .dropdown {
        margin-right: 32px;
    }
    .dropdown .dropdown-toggle {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
/*General*/
    /*Header*/
    header {
        justify-content: space-between;
        height: 110px;
    }
    .logo {
        width: 100%;
    }
    body header h1 {
        display: none;
    }
    body header div nav .nav__list{
        display: none !important;
    }
    .nav__list--mobile {
        align-items:center;
        width: 90px;
        display: flex;
        gap: 20px;
        margin-left: 50px;
    }
    .nav__link--raya {
        text-decoration: none;
        color: #000;
    }
    /*Indice*/
    .myContainer__indice {
        height: 230px;
    }
    .indice__home {
        padding-bottom: 18px;
    }
/*Home*/
    .main {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: inherit;
        flex-direction: column;
        gap: 20px;
    }
    .main__aside {
        width: 100%;
        order: 2;
    }
    .main__subtitulo {
        font-weight: bold;
        margin-top: 10px;
        font-size: 2em;
    }
    .main__parrafo {
        margin-top: 20px;
        font-size: 1.3em;
        text-align:justify;
        padding: 0 30px;
        line-height: 1.7;
        height: 100%;
    }
    .parrafo__oculto{
        display: none;
    }
    .main__img {
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 10px;
        border-radius: 10%;
    }
    /*Tecnologias*/
    /*Ubicacion y testimonios*/
    .ubicacion__entrevista {
        grid-template-columns: 1fr;
    }
/*Contacto*/
    .main__contacto {
        flex-direction: column;
        font-size: 1.6em;
        height: 20px;
    }
    .titulo__contacto {
        font-size: 30px;
    }
    .form-group {
        height: 80px;
    }
    .btn-submit {
        margin-bottom: 40px;
    }
}